.App {
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-content {
  display: flex;
  height: 100%;
}

.App-aside {
  flex: 4;
  height: calc(100% - 120px);
  overflow-y: scroll;
  border-right: 1px solid #DDD;
}

.App-main {
  flex: 6;
}
.App-main layer-conversation-panel {
  height: calc(100vh - 120px);
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
